{% extends "index.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="about-section">
            <h2>About Us</h2>
            <p>At اطمئن, our mission is to provide a secure and anonymous platform for people to report corruption and misconduct. We believe in the power of transparency and accountability to create a better society. Our platform allows individuals to report incidents of corruption without fear of retaliation, helping to expose wrongdoing and promote ethical behavior.</p>
        </div>
        <div class="team-section">
            <h2>Meet Our Team</h2>
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Mariam.jpeg') }}" alt="Team Member 1">
                <h3>Mariam Fawzi</h3>
                <p>Full-stack Engineer</p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Amr.jpeg') }}" alt="Team Member 2">
                <h3>Amr AbulSalam</h3>
                <p>Backend Engineer</p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Khalfan.jpeg') }}" alt="Team Member 3">
                <h3>Khalfan</h3>
                <p>UI/UX Designer</p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Saloua.jpeg') }}" alt="Team Member 4">
                <h3>Saloua Jaghar</h3>
                <p>Business Analyst</p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Mariam.jpeg') }}" alt="Team Member 5">
                <h3>Rama Abdelhadi</h3>
                <p>Content Creator</p>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
{% block additional_content %}{% endblock %}
